openapi: 3.0.3
info:
  title: Contact Manager API
  version: 0.2.0
servers:
  - url: https://cruddylit.com/LAMPAPI

tags:
  - name: Auth
  - name: Contacts

paths:
  /Register.php:
    post:
      tags: [Auth]
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName, login, password]
              properties:
                firstName: { type: string, example: Demo }
                lastName:  { type: string, example: User }
                login:     { type: string, example: demo }
                password:  { type: string, format: password, example: Password123 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegisterResponse' }
        '400':
          description: Invalid field
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Login already taken
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /Login.php:
    post:
      tags: [Auth]
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:    { type: string, example: demo }
                password: { type: string, format: password, example: Password123 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /Logout.php:
    post:
      tags: [Auth]
      operationId: logout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, example: '5f1c...64 hex chars' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /AddContact.php:
    post:
      tags: [Contacts]
      operationId: addContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, firstName, lastName, phone, email]
              properties:
                token:     { type: string, example: '5f1c...64 hex chars' }
                firstName: { type: string, example: John }
                lastName:  { type: string, example: Doe }
                phone:     { type: string, example: '4075550101' }
                email:     { type: string, example: john.doe@example.com }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AddContactResponse' }
        '400':
          description: Invalid field
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /SearchContacts.php:
    post:
      tags: [Contacts]
      operationId: searchContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:    { type: string, example: '5f1c...64 hex chars' }
                search:   { type: string, description: "Matches first or last name, case-insensitive; empty returns everything", example: jo }
                page:     { type: integer, description: 1-based page number, default: 1, example: 1 }
                pageSize: { type: integer, description: "Results per page, 1-200", default: 50, example: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchContactsResponse' }
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /UpdateContact.php:
    post:
      tags: [Contacts]
      operationId: updateContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, id, firstName, lastName, phone, email]
              properties:
                token:     { type: string, example: '5f1c...64 hex chars' }
                id:        { type: integer, example: 7 }
                firstName: { type: string, example: John }
                lastName:  { type: string, example: Doe }
                phone:     { type: string, example: '4075550101' }
                email:     { type: string, example: john.doe@example.com }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: No contact with that id owned by the caller
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /DeleteContact.php:
    post:
      tags: [Contacts]
      operationId: deleteContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, id]
              properties:
                token: { type: string, example: '5f1c...64 hex chars' }
                id:    { type: integer, example: 7 }
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: No contact with that id owned by the caller
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

components:
  schemas:
    Error:
      type: object
      properties:
        error: { type: string, example: '' }

    RegisterResponse:
      type: object
      properties:
        id:        { type: integer, example: 1 }
        firstName: { type: string, example: Demo }
        lastName:  { type: string, example: User }
        error:     { type: string, example: '' }

    LoginResponse:
      type: object
      properties:
        id:        { type: integer, example: 1 }
        firstName: { type: string, example: Demo }
        lastName:  { type: string, example: User }
        token:     { type: string, example: '5f1c...64 hex chars' }
        expiresAt: { type: string, example: '2026-09-11 21:22:00' }
        error:     { type: string, example: '' }

    AddContactResponse:
      type: object
      properties:
        id:    { type: integer, example: 7 }
        error: { type: string, example: '' }

    Contact:
      type: object
      properties:
        id:          { type: integer, example: 7 }
        firstName:   { type: string, example: John }
        lastName:    { type: string, example: Doe }
        phone:       { type: string, example: '4075550101' }
        email:       { type: string, example: john.doe@example.com }
        dateCreated: { type: string, example: '2026-09-11 21:22:00' }

    SearchContactsResponse:
      type: object
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/Contact' }
        page:     { type: integer, example: 1 }
        pageSize: { type: integer, example: 50 }
        total:    { type: integer, example: 3 }
        error:    { type: string, example: '' }
